body{
    margin: 0;
    font-family: sans-serif;
}

/* SPACE-BETWEN */
.flexbox{
    display: flex;
    flex-flow: row wrap;
    border: 2px solid #000;
    margin: 20px;
    justify-content:space-between;
}

/* SAPCE-AROUND */
.flexbox2{
    display: flex;
    flex-flow: row-reverse wrap;
    border: 2px solid #000;
    margin: 20px;
    justify-content:space-around;
}

/* SAPCE-evenly*/
.flexbox3{
    display: flex;
    flex-flow: row wrap;
    border: 2px solid #000;
    margin: 20px;
    justify-content:space-evenly;
}

/* Aling items */
.flexbox4{
    display: flex;
    flex-flow: row wrap;
    border: 2px solid #000;
    margin: 20px;
    justify-content:space-evenly;
    align-items: baseline;
    height: 360px;
}

/* Aling content */
.flexbox5{
    display: flex;
    flex-flow: row wrap;
    border: 2px solid #000;
    margin: 20px;
    justify-content:space-evenly;
    align-content: space-between;
    height: 360px;
}

/* Para centrar un solo elemento dentro de mi caja */
.flexbox6{
    display: flex;
    flex-flow: row wrap;
    border: 2px solid #000;
    margin: 20px;
    /* Solo haciendo esto */
    /* O directamente en el
    item colocar un margin auto */
    align-items: center;
    justify-content: center;
}

.flex-item{
    background-color: #800;
    margin: 20px;
    color: #fff;
    font-size: 40px;
    text-align: center;
    direction: rtl;
    width: 150px;
}

.flex-item:first-child{
    background-color: #f77;
    font-size: 60px;
}

.flex-item:last-child{
    background-color: #000;
    font-size: 40px;
}