body{
    margin: 0;
    font-family: sans-serif;
}

div, body{
    box-sizing: border-box;
}

/* Asi hago que una imagen sea responsiva */
img{
    max-width: 100%;
    height: auto;
}

/* Videos */
.contenedor{
    max-width: 100%;
    aspect-ratio: 16/9;
    margin: auto;
}


iframe{
    width: 100%;
}