* {
    box-sizing: border-box;
  }
  
  body{
    background-image: url(fondo.gif);
    background-position:center;
    background-size: cover;
    --bg-color: color-mix(in srgb, #f62 70%, #fff);
    --text-color: #333;
    --card-bg-color: #fff6;
    --dark-color: #f62;
    font-family: sans-serif; 
    height: 200dvh;
  }
  
  body,
  div,
  ul,
  li,
  a,
  h1,
  h2,
  h3,
  h4,
  p {
    margin: 0;
    padding: 0;
  }

  header{
    display: flex;
    justify-content: center;
    mix-blend-mode: difference;
  }

  .text-container{
    min-height: 100dvh;
    position: fixed;
    top: 0;
    display: flex;
    font-size:clamp(1rem, 8vw, 6rem);
    font-weight: 700;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 3dvw;
    mix-blend-mode: difference;
    color: var(--text-color);
    animation: aparecer-texto both;
    animation-timeline: scroll();
    animation-range: cover 20%;
  }

  .right-text{
    font-weight: 900;
  }

  .left-text{
    color: var(--dark-color);
    padding-left: 4dvw;
    filter:drop-shadow(0px 0px 1px var(--dark-color))
    drop-shadow(0px 0px 9px var(--dark-color));
  }


  img{
    filter: grayscale();
    position: fixed;
    top: 0;
    animation: aparecer both;
    animation-timeline: scroll();
    max-height: 100dvh;
    mix-blend-mode: darken;
  }

  @keyframes aparecer {
    0%{
        opacity: 0;
        filter: grayscale();
        translate:  0 -20%;
        scale: 1.2;
    }

    100%{
        opacity: 1;
        filter: grayscale();
        translate: 0 0 ;
        scale: 1;
    }
  }

  @keyframes aparecer-texto {
    0%{
        opacity: 0;
        translate:  0 -20%;
        scale: 1.2;
    }

    100%{
        opacity: 1;
        translate: 0 0 ;
        scale: 1;
    }
  }

  @media screen and (max-width: 900px) {
    .text-container{
        justify-content: space-evenly;
    }
  }