/* CSS le da más propiedad al elemento
que esta más especificado en este caso
como el h1 tiene la clase .titulo
se le asigno el valor de red debido a que 
es un selección más especifica. */

#titulo {
    /* Este tiene un nivel de especificidad
    de 100 */
color: green;
}

.titulo{
    /* Este tiene un nivel de especificidad
    de nivel 10 */
    color: red;

}
body .titulo{
    /* Este tiene un nivel de especificidad
    de nivel 10 */
    color: red !important;
}

h1{
    /* Este tiene un nivel de especificidad
    de 1 */
    color: blue !important;
    /* La regla !important sirve para 
    que le de toda la importancia 
    directamente a ese elemento. */
}

img{
    width: 100%;
}

p{
    font-size: 20px;
    font-family: sans-serif;
    color:#000b;
}