body {
    margin: 0;
    font-family: sans-serif;
}

.grid{
    display: grid;

    /* con la propiedad grid-tamplate-columns
    sirve para poner un numero determinado de
    columnas */

    /* Aqui hay tres columnas */
    grid-template-columns: 60px 200px 400px;
    /* Aqui lo que le estoy diceiendo al 
    navegador es que mi elemento 
    padre coloque 6 columnas en mis elementos
    hijos o grid-items 
    el columns define el tamaño de las columnas.*/

    /* Aqui hay 3 filas */
    grid-template-rows:  500px 200px 100px; 
    /* Con la propiedad grid-template-rows voy
    a saber cuantas filas voy a querer. 
    y define el heigth de las filas*/
}

.grid-item{
    background-color: #48e;
    margin: 10px;
    padding: 10px;
    font-size: 30px;
    color:#fff;
}