body {
    margin: 0;
    font-family: sans-serif;
  }

div, body{
    box-sizing: border-box;
}

  .grid {
    display: grid;
    /* El valor auto-fit ajusta las columnas que
    son agregadas explicitamente */
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-rows: repeat(3, 200px);
    gap: 25px;
    width: 90vw;
    margin: auto;
    margin-top: 30px; 
  }
  
  .grid-item {
    background-color: #48e;
    padding: 10px;
    font-size: 30px;
    color: #fff;
  }
  